# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!README.md
!package.json
!package-lock.json
!index.html
!eslint.config.js
!tailwind.config.js
!postcss.config.js
!vite.config.js
!public/
!public/**
!src/
!src/**
!.env
!.editorconfig
!.prettierrc.json
!.eslintrc.json
!.vscode/
!.vscode/**
!node_modules/
!dist/
!build/
!.DS_Store
!.idea/
!.idea/**
!.vs
!.vs/**
!*.log
!*.tmp
!*.bak
!*.swp
!*.swo
